$lightblue: #1288E8;
$white: #fff;
$gray: #616A8B;
$orange_gradient: linear-gradient(#F7BC7A, #ED6480);
$blue_gradient: linear-gradient(#5FB2FF, #3887FE);
$background: radial-gradient(63.88% 129.61% at 25.55% 31.91%, #20135C 0%, #140739 92.82%);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    // border: 1px solid red;
}

img {
    max-width: 100%;
}


body {
    overflow-x: hidden;
    background: $background;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.toaster {
    width: fit-content;
    text-align: center;
    padding: 15px 20px;
    font-size: medium;
    border-radius: 7px;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: 1s ease;
    color: white;
    font-size: 24px;

    .time_bar {
        width: 100%;
        height: 6px;
        background-color: #0ac900;
        border-bottom-left-radius: 7px;
        // border-bottom-right-radius: 7px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;

        animation: time_bar 4s linear forwards;
    }
}

.toaster_error {
    border: 2px solid rgb(255, 0, 140);
    background-color: rgb(246, 86, 86);
}

.toaster_success {
    border: 2px solid rgb(0, 255, 13);
    background-color: rgb(5, 223, 38);
}

.toaster_massage {
    border: 2px solid rgb(0, 4, 255);
    background-color: rgb(9, 124, 255);
}

@keyframes toaster {
    0% {
        right: -100%;
    }

    20% {
        right: 30px;
    }

    80% {
        right: 30px;
    }

    100% {
        right: -100%;
    }
}

.toaster-anim {
    animation: toaster 5s ease;
}

@keyframes time_bar {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

.wave_back,
.wave_front {
    position: absolute;
    bottom: 0;
    right: 0;
}

.blue_traingle {
    position: absolute;
    bottom: 140px;
    right: 520px;




}

.wrap {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-block: 50px 70px;
}

.signin_wrap {
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(180deg, #1E1156 0%, rgba(28, 35, 64, 0) 100%);
    box-shadow: 0px 25px 25px 0px #00032080;
    margin-left: 72px;
    position: relative;
    padding: 82px 50px 40px 50px;
    z-index: 10;
    height: 100%;
    // margin-block: 70px 100px;

    .welcome {
        font-size: 32px;
        text-align: center;
        margin-bottom: 62px;
    }

    .signin_form {
        display: flex;
        flex-direction: column;
        gap: 25px;
        // justify-content: center;
        align-items: center;
        height: 100%;

        .input_box {
            padding: 11px 0 11px 15px;
            box-shadow: 0px 4px 4px 0px #0000000D;
            background: #2E3558;
            display: flex;
            gap: 15px;
            border-radius: 8px;

            .icon_box {
                padding: 10px;
                border-radius: 50%;
                border: 2px solid #5FB2FF;
                box-shadow: 0px 4px 4px 0px #00000026;
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;

                & img {
                    scale: 1.4;
                }
            }

            & input {
                font-size: 16px;
                color: #fff;
                border: 0;
                outline: 0;
                background: 0;
                width: 300px;
            }

            & input:-internal-autofill-selected {
                background: 0;
            }
        }

        .input_box:focus-within {
            border-bottom: 2px solid #1288E8;
            box-shadow: 0px 4px 20px 0px #018FFF26;
        }

        & button {
            color: #fff;
            font-weight: 600;
            font-size: 16px;
            padding: 12px 25px;
            border-radius: 8px;
            box-shadow: 0px 4px 12px 0px #00000026;
            background: linear-gradient(271.88deg, #3887FE 4.26%, #3BA0FF 51.37%, #5FB2FF 99.01%);
            border: 0;
            cursor: pointer;
            transition: .3s ease;
            margin-top: 40px;
        
        }

        & button:hover {
            scale: 1.1;
            translate: 0 -5px;
        }

        .signup_link {
            margin-top: 10px;
            color: #3BA0FF;
            font-size: 16px;
            text-decoration: none;
        }

        .signup_link:hover {
            text-decoration: underline;
        }
    }

    .blue_square {
        position: absolute;
        top: 10px;
        right: -60px;
        z-index: -1;
    }

    .orange_traingle {
        position: absolute;
        top: 60px;
        left: -60px;
    }
}

.valuet_logo {
    text-align: center;
    margin-left: 370px;
    margin-bottom: 40px;
    & img {
        width: 300px;
        margin-bottom: 25px;
    }

    & p {
        color: #fff;
        font-size: 22px;
        font-weight: 300;
    }
}